Source: kaffeine
Section: video
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Fathi Boudra <fabo@debian.org>,
           Mark Purcell <msp@debian.org>,
           Michael Meskes <meskes@debian.org>
Build-Depends: cmake,
               debhelper (>= 9),
               kdelibs5-dev (>= 4:4.4.4),
               libx11-dev,
               libxine-dev,
               libxss-dev,
               pkg-kde-tools (>= 0.9.0)
Standards-Version: 3.9.3
Homepage: http://kaffeine.kde.org
Vcs-Browser: http://git.debian.org/?p=pkg-kde/kde-extras/kaffeine.git
Vcs-Git: git://git.debian.org/pkg-kde/kde-extras/kaffeine.git

Package: kaffeine
Architecture: any
Depends: libqt4-sql-sqlite,
         ${misc:Depends},
         ${shlibs:Depends},
         ${xine-ffmpeg:Depends},
         ${xine-x:Depends}
Suggests: libdvdcss2
Description: versatile media player for KDE
 Kaffeine is a media player for KDE. While it supports multiple Phonon
 backends, its default backend is Xine, giving Kaffeine a wide variety of
 supported media types and letting Kaffeine access CDs, DVDs, and
 network streams easily.
 .
 Kaffeine can keep track of multiple playlists simultaneously, and supports
 autoloading of subtitle files for use while playing video.

Package: kaffeine-dbg
Section: debug
Architecture: any
Priority: extra
Depends: kaffeine (= ${binary:Version}), kdelibs5-dbg, ${misc:Depends}
Description: debugging symbols for Kaffeine
 This package contains the debugging symbols associated with Kaffeine.
 They will automatically be used by gdb for debugging Kaffeine-related
 issues.
