Source: kaffeine
Section: video
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Fathi Boudra <fabo@debian.org>, Mark Purcell <msp@debian.org>
Build-Depends: debhelper (>= 7.3), cmake, pkg-kde-tools (>= 0.4.11),
 kdelibs5-dev (>= 4:4.3.0)
Standards-Version: 3.8.2
Homepage: http://kaffeine.kde.org
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/kde-extras/kaffeine/trunk
Vcs-Svn: svn://svn.debian.org/pkg-kde/kde-extras/kaffeine/trunk

Package: kaffeine
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 phonon-backend-xine, libxine1-ffmpeg, libxine1-x
Description: versatile media player for KDE
 Kaffeine is a media player for KDE. While It supports multiple Phonon
 backends, its default backend is Xine, giving Kaffeine a wide variety of
 supported media types and letting Kaffeine access CDs, DVDs, and
 network streams easily.
 .
 Kaffeine can keep track of multiple playlists simultaneously, and supports
 autoloading of subtitles files for use while playing video.

Package: kaffeine-dbg
Section: debug
Architecture: any
Priority: extra
Depends: ${misc:Depends}, kaffeine (= ${binary:Version}), kdelibs5-dbg
Description: debugging symbols for kaffeine
 This package contains the debugging symbols associated with kaffeine.
 They will automatically be used by gdb for debugging kaffeine-related
 issues.
