Source: kaffeine
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Fathi Boudra <fabo@debian.org>, Mark Purcell <msp@debian.org>
Build-Depends: cdbs, debhelper (>= 5), quilt, automake1.9, kdelibs4-dev,
 libcdparanoia0-dev, libogg-dev, libxine-dev (>= 1.1.9), libxcb1-dev,
 libxtst-dev
Standards-Version: 3.7.3
Homepage: http://kaffeine.sourceforge.net
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/kde-extras/kaffeine/trunk
Vcs-Svn: svn://svn.debian.org/pkg-kde/kde-extras/kaffeine/trunk

Package: kaffeine
Architecture: any
Depends: ${shlibs:Depends}, libxine1-ffmpeg, libxine1-x, hdparm [linux-any]
Conflicts: kaffeine-xine, kaffeine-gstreamer
Replaces: kaffeine-xine, kaffeine-gstreamer
Description: versatile media player for KDE
 Kaffeine is a media player for KDE. While it supports multiple player
 engines, its default engine is Xine, giving Kaffeine a wide variety of
 supported media types and letting Kaffeine access CDs, DVDs, and
 network streams easily.
 .
 Kaffeine can keep track of multiple playlists simultaneously, and supports
 autoloading of subtitles files for use while playing video.

Package: kaffeine-dbg
Section: devel
Architecture: any
Priority: extra
Depends: kaffeine (= ${binary:Version}), kdelibs-dbg
Description: debugging symbols for kaffeine
 This package contains the debugging symbols associated with kaffeine.
 They will automatically be used by gdb for debugging kaffeine-related
 issues.
